body {
  margin: 0;
  padding: 30px 20px;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Space Grotesk", sans-serif;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border: 4px solid rgb(35, 24, 192);
}
.knap {
  border: 3px solid rgb(35, 24, 192);
  padding: 15px 55px;
  display: block;
  width: fit-content;
  text-decoration: none;
  color: black;
  background-color: lightblue;
  margin-bottom: 20px;
  margin-left: calc((100% - 800px) / 2);
}
section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
article {
  border: 3px solid rgb(35, 24, 192);
  padding: 20px;
  background-color: lightblue;
}
.stats {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
h1,
h2,
h3,
p,
ul {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.afstand {
  margin-bottom: 20px;
}
.galleri-billede {
  width: 800px;
  height: 400px;
  object-fit: cover;
}

.galleri-halv {
  width: 800px;
  height: 200px;
  object-fit: cover;
}
.galleri-meget-lille {
  width: 800px;
  height: 100px;
  object-fit: cover;
}
